.nav-links ul a {
   
    margin-left: 0 !important;
    margin-right: 0 !important;
    
}

[role="menuitem"] button:hover {
    /* background-color: #007af4; */
    --tw-bg-opacity: 1;
    background-color: rgb(225 239 254 / var(--tw-bg-opacity));
    /* background-color:#916464; */
    
}